<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Attack Prediction</title>

  <!-- Bootstrap CSS JS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Custom import -->
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/util.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/searching_choice/searching_choice.css">

</head>

<body data-bs-theme="dark">

<!-- Navbar -->
<div id="nav-placeholder"></div>
<script>
  $(document).ready(function() {
    $("#nav-placeholder").load("navbar.html")
  })
</script>

<div class="container text-center title" >
  <h1 class="display-4 h1 text-primary">Choose your searching method:</h1>
</div>

<div class="container text-center">
  <!-- Import searching method -->
  <div class="row">
    <div class="col justify-content-center">
      <h3 class="fw-bold">UPLOAD REPORT</h3>

      <p class="m-lg-5 text-secondary">Here you can upload a report (now supported reports can come from: <b>Nessus</b>)!</p>
      <div id="file-picker-placeholder"></div>
      <script>
        $(document).ready(function() {
          $("#file-picker-placeholder").load("file_picker.html")
        })
      </script>

    </div>

    <div class="d-flex col-1 justify-content-center align-items-center" style="height: auto;">
      <div class="vr bg-primary"></div>
    </div>

    <!-- Manual searching method -->
    <div class="col justify-content-center">
      <h3 class="fw-bold">MANUAL SEARCH</h3>

      <p class="m-lg-5 text-secondary">Choose manual searching to explore the system in manual searching!</p>


      <div class="row justify-content-center">
        <img class="lens" src="../static/images/search_lens.png" alt="lens"/>
      </div>
      <div class="row mt-3">
        <a href="#">
          <button type="button" class="btn btn-primary">  Start search  </button>
        </a>
      </div>


    </div>
  </div>
</div>

</body>
</html>