@import "../../scss/bootstrap";

.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important; 
}

.font-logo{
    font-size: 0.8rem;
}

.plus-logo{
    margin: -0.45rem 0;
}