/* From Uiverse.io by victoryamaykin */ 
.switch {
 position: relative;
 display: inline-block;
 width: 150px;
 height: 34px;
}

.switch input {
 display: none;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #4d4d4d;
 -webkit-transition: .4s;
 transition: .4s;
 border-radius: 34px;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
 border-radius: 50%;
}

input:checked + .slider {
 background-color: var(--bs-primary, #0d6efd);
}

input:focus + .slider {
 box-shadow: 0 0 1px var(--bs-primary, #0d6efd);
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(115px);
}

/*------ ADDED CSS ---------*/
.slider:after {
 content: attr(data-off);
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 11px;
 white-space: nowrap;
 font-weight: 500;
}

input:checked + .slider:after {
 content: attr(data-on);
}

/*--------- END --------*/