/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  height: auto;
  overflow: hidden;
}

.small-logo {
  color: white;
  text-decoration: none;
}

