@import "../util/color";

html, body {
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: $primary transparent;
}

/* Per Chrome, Edge e Safari */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px;
}