@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

.logo-img{
    margin-right: 10px;
}

.navbar{
    padding-left: 10px;
    padding-right: 10px;
}
body{
    margin-top: 50px;
}

.btn-primary{
	padding: 7.5px 50px;
}

html, body {
    font-family: 'Roboto Light', sans-serif;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

/* Per Chrome, Edge e Safari */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0px;
}

.hide{
    opacity: 0;
    transition: all 0.3s ease-out;
}

.text-in-border{
    -moz-hyphens:auto;
   -ms-hyphens:auto;
   -webkit-hyphens:auto;
   hyphens:auto;
   word-wrap:break-word;
}

.thick-vr{
    border-left: 3px solid;
}

.margin-top-100{
    margin-top: 100px;
}

.btn-no-outline{
    outline: none;
}