@import "../../scss/bootstrap";

.custom-pagination .MuiPaginationItem-root {
  @extend .fs-6;
  color: $primary ;
  font-weight: bold;
}

.search-result{
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;
  width: 100%;
  max-height: 70vh;

}

.num-rows-selector{
  color: var(--body-color);
  border: 2px solid $secondary;
  background-color: transparent;
  padding: 2px 10px;
}

.num-rows-selector:focus {
  outline: 0;
}