@import "../../scss/bootstrap";

.custom-pagination .MuiPaginationItem-root {
  @extend .fs-6;
  color: $primary ;
  font-weight: bold;
}

.search-result{
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;

  max-height: 80vh;

}