<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/util/file_picker.css">
<script src="../../static/js/util/file_picker.js"></script>

<form class="form-container" enctype='multipart/form-data'>
	<div class="upload-files-container">
		<div class="drag-file-area justify-content-center text-center">
			<span class="material-icons-outlined upload-icon"> file_upload </span>
			<h3 class="dynamic-message"> Drag & drop any file here </h3>
			<label class="label">
				or
				<span class="browse-files">
					<input type="file" class="default-file-input"/>
					<span class="browse-files-text">browse file</span>
				<span>from device</span>
			</span>
			</label>
		</div>
		<span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
		<div class="file-block">
			<div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
			<span class="material-icons remove-file-icon">delete</span>
		</div>
		<button type="button" class="btn btn-primary mt-3 upload-button"> Upload </button>
	</div>
</form>