@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');
@import "./bootstrap.scss";

.transition-element {
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear, transform 0.3s ease-in-out;
}

.first-container{
  margin-top: 350px;
}

@media (max-width: 768px) {
  .first-container{
    margin-top: 150px;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
}

/*
.hide {
  opacity: 0;
  transform: translateY(50px);
}
 */

.logo-img{
  margin-right: 10px;
}

.btn-primary{
  padding: 7.5px 50px;
}

form{
  caret-color: $primary;
}

/* For Chrome, Edge and Safari */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0px;
}

.text-in-border{
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
  word-wrap:break-word;
}

.thick-vr{
  border-left: 3px solid;
}

.margin-top-100{
  margin-top: 100px;
}

.btn-no-outline{
  outline: none;
}

.fill{
  fill: var(--bs-body-color);
}

.text-color{
  color: var(--bs-body-color);
}